# dependece
node_modules

# production
build

# test
converage

# misc
.DS_Store
env.local
env.development.local
env.test.local
env.production
env.production.local
env.*.local

Dockerfile
Dockerfile.*

npm-debug.log*